@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
  background: repeating-linear-gradient(
    45deg,
    #dcfce7,
    #dcfce7 10px,
    #15803d 10px,
    #15803d 20px
  );
}

.font-bungee {
  font-family: 'Bungee', cursive !important;
}

.font-fugaz {
  font-family: 'Fugaz One', sans-serif !important;
}

.title {
  text-shadow: 1px 1px 6px rgb(0 0 0 / 92%), 4px 2px 7px rgb(0 0 0 / 80%);
}